<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
  <!--Link favicon icon-->
  <link rel="icon" type="image/x-icon" href="/images/redketchup/favicon.ico">

  <!-- add font awesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME <i class="fa-solid fa-house"></i></a></li>
          <li id="home"><a href="/compose">COMPOSE <i class="fa-solid fa-pen"></i></a></li>
          <li id="home"><a href="/posts">VIEW POSTS <i class="fa-solid fa-eye"></i></a></li>
          <li id="about"><a href="/about">ABOUT US <i class="fa-solid fa-address-card"></i></a></li>
          <li id="contact"><a href="/contact">CONTACT US <i class="fa-solid fa-address-book"></i></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
